@{
    ViewData["Title"] = "Home Page";
}

<div class="container center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="white">随手记导入转换工具</h1>
            <p>欢迎使用本工具 转换过程中会保存原本帐务档案到服务器 请悉知</p>
        </div>
    </div>
    <form id="uploadForm" enctype="multipart/form-data" accept-charset="utf-8">
        <div class="container">
            <h3>Step1.选择导入的帐单格式</h3>
            <select id="selectBillType" class="selectpicker"></select>
        </div>
        <div class="container">
            <h3>Step2.浏览上传档案</h3>
            <div class="center">
                <div>
                    <h1 class="imgupload"><i class="fas fa-upload"></i></h1>
                    <h1 class="imgupload ok"><i class="fas fa-check-circle"></i></h1>
                    <h1 class="imgupload stop"><i class="fas fa-times-circle"></i></h1>
                    <p id="billTypeDescription"></p>
                    <button type="button" class="btn btn-primary" disabled="disabled" id="btnChoose" onclick="uploadFile()">选择档案</button>
                    <input type="file" id="fileUpload" required >
                </div>
            </div>
        </div>
        <div class="container">
            <h3>Step3.转换并下载</h3>
            <p>手动修改支出的至顶栏复制随手记模板的至顶栏位</p>
            <div class="col-md-12">
                <button type="button" class="btn btn-light" disabled="disabled" id="btcConvert" onclick="convert()">转换 <i class="fas fa-exchange-alt"></i></button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script type="text/javascript">

    	_$selectpicker = $("#selectBillType")
    	_$fileUpload = $("#fileUpload")
        _$btcConvert = $("#btcConvert")
        _$btnChoose = $("#btnChoose")
    	_$billTypeDescription = $("#billTypeDescription")

    	function uploadFile() {
			document.getElementById("fileUpload").click();
    	}

        _$fileUpload.change(function(){
            let res = _$fileUpload.val();
            let filename = res.split("\\").slice(-1)[0];
            let filext = filename.split(".")[1];
            let valid = _$selectpicker.find("option:selected").data("valid")
            if (filext === valid){
                $( ".imgupload" ).hide("slow");
                $( ".imgupload.stop" ).hide("slow");
                $( ".imgupload.ok" ).show("slow");

                _$billTypeDescription.css({"color":"green","font-weight":700});
                _$billTypeDescription.html(filename);

                _$btcConvert.prop("disabled", false);
                _$btcConvert.attr('class', 'btn btn-success');

            }else{
				$( ".imgupload" ).hide("slow");
				$( ".imgupload.ok" ).hide("slow");
				$( ".imgupload.stop" ).show("slow");

				_$billTypeDescription.css({"color":"red","font-weight":700});
				_$billTypeDescription.html(filename+" 不是允许上传的档案");

				_$btcConvert.prop("disabled", true);
				_$btcConvert.attr('class', 'btn btn-default');
            }
        });

        function convert() {
            let formData = new FormData();
            formData.append('file', _$fileUpload[0].files[0])
            formData.append('billType', _$selectpicker.val())
            fetch('@Url.Action("Convert")',{ method:'POST', body: formData })
              .then(resp => resp.blob())
              .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.style.display = 'none';
                a.href = url;
                // the filename you want
                a.download = '导出帐单.xls';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
                $.confirm({
				   title: '转换成功',
				   content: '',
				   type: 'success',
				   icon:'glyphicon glyphicon-ok-sign',
				   typeAnimated: true,
				   buttons: {
					   ok: {
						   text: '确认',
						   btnClass: 'btn-primary',
					   }
				   }
			   });
              })
              .catch(() => {
              	$.alert({
				  type:'red',
				  title: '请求失败',
				  content: '请再重新尝试',
				  icon:'glyphicon glyphicon-info-sign'
				});
              });
        }

		$(function() {
			_$selectpicker.selectpicker({
				noneSelectedText : '请选择'
			});

			_$selectpicker.on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
				let description = $(this).find("option:selected").data("description")
                $("#billTypeDescription").text(description)
                if (isSelected) {
					$( ".imgupload" ).show("slow");
					$( ".imgupload.stop" ).hide();
					$( ".imgupload.ok" ).hide();
					_$billTypeDescription.removeAttr('style');
                	_$btcConvert.prop("disabled", true);
                	_$btnChoose.prop("disabled", false);
                } 
            });

			$(window).on('load', function() {
				_$selectpicker.selectpicker('val', '');
				_$selectpicker.selectpicker('refresh');
			});

			// 下拉数据加载
			$.ajax({
				type : 'get',
				url : "/Home/GetDropdownList",
				dataType : 'json',
				success : function(datas) {
					let optionHtml = '';
					datas.forEach(val => {
                            optionHtml = optionHtml + '<option value="' + val.value + '" data-description="' + val.description + '" data-valid="' + val.validType + '">' + val.name + '</option>';
					})
					_$selectpicker.html(optionHtml)
					_$selectpicker.selectpicker('val', '');
					_$selectpicker.selectpicker('refresh');
				}
			});
		})
    </script>
}